

.barre {
    margin: 0 0 2px 0;
}

p.portf {
    margin-top: 6px;
    margin-bottom: 0px;
    line-height: 20px;
}

.btn  {
    margin-bottom: 0px;
    border-radius: 30px;
    position:static;
}

.serv{
    margin-bottom: 54px;
}

img.img-fluid{
width: 800px;
height: 400px;
}

.img-fluid {
    width: 800px;
    height: 400px;
}